(
    graph: (
        nodes: {
            15: (
                template: PyNode((
                    name: "2d_multiply",
                    path: "/home/john/projects/gpi_v2/gpi_iced/nodes/2d_multiply.py",
                    ports: Ok((
                        inputs: {
                            "b": Complex2d,
                            "a": Complex2d,
                        },
                        outputs: {
                            "out": Complex2d,
                        },
                    )),
                )),
            ),
            24: (
                template: PyNode((
                    name: "ifft",
                    path: "/home/john/projects/gpi_v2/gpi_iced/nodes/ifft.py",
                    ports: Ok((
                        inputs: {
                            "a": Complex2d,
                        },
                        outputs: {
                            "out": Complex2d,
                        },
                    )),
                )),
            ),
            13: (
                template: Plot2D((
                    rect: (
                        center: (
                            x: 0.5,
                            y: 0.5,
                        ),
                        width: 1.0,
                        height: 1.0,
                    ),
                )),
            ),
            16: (
                template: PyNode((
                    name: "fft",
                    path: "/home/john/projects/gpi_v2/gpi_iced/nodes/fft.py",
                    ports: Ok((
                        inputs: {
                            "a": Complex2d,
                        },
                        outputs: {
                            "out": Complex2d,
                        },
                    )),
                )),
            ),
            17: (
                template: Plot2D((
                    rect: (
                        center: (
                            x: 0.5,
                            y: 0.5,
                        ),
                        width: 1.0,
                        height: 1.0,
                    ),
                )),
            ),
            18: (
                template: PyNode((
                    name: "circle_mask",
                    path: "/home/john/projects/gpi_v2/gpi_iced/nodes/circle_mask.py",
                    ports: Ok((
                        inputs: {
                            "radius": Real,
                        },
                        outputs: {
                            "out": Real2d,
                        },
                    )),
                )),
            ),
            19: (
                template: Constant(15.1),
            ),
            23: (
                template: Plot2D((
                    rect: (
                        center: (
                            x: 0.5,
                            y: 0.5,
                        ),
                        width: 1.0,
                        height: 1.0,
                    ),
                )),
            ),
            25: (
                template: PyNode((
                    name: "load_image",
                    path: "/home/john/projects/gpi_v2/gpi_iced/nodes/load_image.py",
                    ports: Ok((
                        inputs: {},
                        outputs: {
                            "out": Real2d,
                        },
                    )),
                )),
            ),
            27: (
                template: Plot2D((
                    rect: (
                        center: (
                            x: 0.5,
                            y: 0.5,
                        ),
                        width: 1.0,
                        height: 1.0,
                    ),
                )),
            ),
            28: (
                template: Plot2D((
                    rect: (
                        center: (
                            x: 0.5,
                            y: 0.5,
                        ),
                        width: 1.0,
                        height: 1.0,
                    ),
                )),
            ),
        },
        edges: [((
            node: 16,
            name: "out",
            io: Out,
        ), (
            node: 17,
            name: "a",
            io: In,
        )), ((
            node: 19,
            name: "out",
            io: Out,
        ), (
            node: 18,
            name: "radius",
            io: In,
        )), ((
            node: 24,
            name: "out",
            io: Out,
        ), (
            node: 23,
            name: "a",
            io: In,
        )), ((
            node: 15,
            name: "out",
            io: Out,
        ), (
            node: 24,
            name: "a",
            io: In,
        )), ((
            node: 25,
            name: "out",
            io: Out,
        ), (
            node: 13,
            name: "a",
            io: In,
        )), ((
            node: 25,
            name: "out",
            io: Out,
        ), (
            node: 16,
            name: "a",
            io: In,
        )), ((
            node: 16,
            name: "out",
            io: Out,
        ), (
            node: 15,
            name: "b",
            io: In,
        )), ((
            node: 18,
            name: "out",
            io: Out,
        ), (
            node: 15,
            name: "a",
            io: In,
        )), ((
            node: 18,
            name: "out",
            io: Out,
        ), (
            node: 27,
            name: "a",
            io: In,
        )), ((
            node: 15,
            name: "out",
            io: Out,
        ), (
            node: 28,
            name: "a",
            io: In,
        ))],
        next_id: 29,
    ),
    shapes: (
        camera: (
            position: (
                x: -252.5835,
                y: 18.77295,
            ),
            zoom: 1.0,
        ),
        shape_positions: {
            15: (
                x: 446.43146,
                y: 246.4375,
            ),
            24: (
                x: 359.02484,
                y: 486.10635,
            ),
            13: (
                x: -131.30612,
                y: 188.49385,
            ),
            16: (
                x: 270.3875,
                y: 72.99692,
            ),
            17: (
                x: 122.18759,
                y: 189.69998,
            ),
            18: (
                x: 740.76245,
                y: 128.60312,
            ),
            19: (
                x: 743.79987,
                y: 31.800003,
            ),
            23: (
                x: 334.74994,
                y: 609.55316,
            ),
            25: (
                x: 17.149994,
                y: -8.478119,
            ),
            27: (
                x: 744.58435,
                y: 335.06873,
            ),
            28: (
                x: 492.77197,
                y: 334.50308,
            ),
        },
    ),
    selected_shape: Some(19),
    cursor_position: (
        x: -144.82813,
        y: 13.41875,
    ),
    config: 20.0,
    app_theme: (
        background: (
            base_color: (
                r: 0.0625,
                g: 0.125,
                b: 0.125,
                a: 1.0,
            ),
            weak_modifier: 0.1,
            strong_modifier: 0.2,
        ),
        text: (
            base_color: (
                r: 0.9375,
                g: 0.8125,
                b: 0.75,
                a: 1.0,
            ),
            weak_modifier: 0.1,
            strong_modifier: 0.4,
        ),
        primary: (
            base_color: (
                r: 0.5,
                g: 0.5625,
                b: 0.3125,
                a: 1.0,
            ),
            weak_modifier: 0.3,
            strong_modifier: 0.1,
        ),
        secondary: (
            base_color: (
                r: 0.6875,
                g: 0.5625,
                b: 0.4375,
                a: 1.0,
            ),
            weak_modifier: 0.1,
            strong_modifier: 0.2,
        ),
        success: (
            base_color: (
                r: 0.4375,
                g: 0.5,
                b: 0.875,
                a: 1.0,
            ),
            weak_modifier: 0.1,
            strong_modifier: 0.2,
        ),
        danger: (
            base_color: (
                r: 0.6875,
                g: 0.25,
                b: 0.25,
                a: 1.0,
            ),
            weak_modifier: 0.1,
            strong_modifier: 0.2,
        ),
    ),
)