(
    graph: (
        nodes: {
            0: (
                template: RustNode(Identity),
            ),
        },
        edges: [],
        next_id: 1,
),
    shapes: (
        camera: (
            position: (
                x: 0.2562256,
                y: 0.25624847,
            ),
            zoom: 1.0,
        ),
        shape_positions: {
            0: (
                x: 163.13123,
                y: 140.42499,
            ),
        },
    ),
)