(
    graph: (
        nodes: {
            0: (
                template: PyNode((
                    name: "shepp_logan",
                    py_path: "test_nodes.foray.shepp_logan",
                    config: Ok((
                        inputs: Ok({}),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({
                            "image_size": NumberField(256.0),
                        }),
                    )),
                )),
                parameters_values: {
                    "image_size": Float(256.0),
                },
            ),
            1: (
                template: PyNode((
                    name: "fft",
                    py_path: "test_nodes.foray.fft",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Complex, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
            ),
            3: (
                template: PyNode((
                    name: "multiply",
                    py_path: "test_nodes.foray.multiply",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Float, [None, None]),
                            "b": Array(Float, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Float, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
            ),
            5: (
                template: PyNode((
                    name: "ifft",
                    py_path: "test_nodes.foray.ifft",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Complex, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
            ),
            8: (
                template: PyNode((
                    name: "circle_mask",
                    py_path: "test_nodes.foray.circle_mask",
                    config: Ok((
                        inputs: Ok({}),
                        outputs: Ok({
                            "out": Array(Float, [None, None]),
                        }),
                        parameters: Ok({
                            "image_size": NumberField(256.0),
                            "radius": Slider(0.0, 256.0, 1.0),
                        }),
                    )),
                )),
                parameters_values: {
                    "image_size": Float(256.0),
                    "radius": Float(11.31),
                },
            ),
        },
        edges: [((
            node: 0,
            name: "out",
            io: Out,
        ), (
            node: 1,
            name: "a",
            io: In,
        )), ((
            node: 1,
            name: "out",
            io: Out,
        ), (
            node: 3,
            name: "a",
            io: In,
        )), ((
            node: 3,
            name: "out",
            io: Out,
        ), (
            node: 5,
            name: "a",
            io: In,
        )), ((
            node: 8,
            name: "out",
            io: Out,
        ), (
            node: 3,
            name: "b",
            io: In,
        ))],
        next_id: 9,
    ),
    shapes: (
        camera: (
            position: (
                x: 0.0,
                y: 0.0,
            ),
            zoom: 1.0,
        ),
        shape_positions: {
            1: (
                x: 78.90939,
                y: 224.61566,
            ),
            8: (
                x: 328.92114,
                y: 221.97379,
            ),
            0: (
                x: 0.0,
                y: 0.0,
            ),
            3: (
                x: 171.19687,
                y: 350.1344,
            ),
            5: (
                x: 171.11563,
                y: 483.15933,
            ),
        },
    ),
)
