(
    graph: (
        nodes: {
            1: (
                template: PyNode((
                    name: "fft",
                    py_path: "test_nodes.foray.fft",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Complex, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.08355981,
                            ceil: 1.0,
                            color_map: Complex(Mag(Color)),
                        ),
                    ),
                ),
            ),
            15: (
                template: PyNode((
                    name: "shift",
                    py_path: "test_nodes.foray.shift",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Float, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Float, [None, None]),
                        }),
                        parameters: Ok({
                            "x-shift": Slider(0.0, 1.0, 100.0),
                            "y-shift": Slider(0.0, 1.0, 100.0),
                        }),
                    )),
                )),
                parameters_values: {
                    "x-shift": Float(0.01),
                    "y-shift": Float(0.0),
                },
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.08355981,
                            ceil: 1.0,
                            color_map: Complex(Mag(Color)),
                        ),
                    ),
                ),
            ),
            16: (
                template: RustNode(Display),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.0,
                            ceil: 1.0,
                            color_map: Complex(Mag(Color)),
                        ),
                    ),
                ),
            ),
            17: (
                template: PyNode((
                    name: "ifft",
                    py_path: "test_nodes.foray.ifft",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Complex, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.0,
                            ceil: 1.0,
                            color_map: Complex(Mag(Color)),
                        ),
                    ),
                ),
            ),
            18: (
                template: RustNode(Display),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.0,
                            ceil: 1.0,
                            color_map: Complex(Phase(Weighted)),
                        ),
                    ),
                ),
            ),
            19: (
                template: RustNode(Display),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.0,
                            ceil: 1.0,
                            color_map: Complex(Mag(Gray)),
                        ),
                    ),
                ),
            ),
            20: (
                template: RustNode(Display),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.0,
                            ceil: 1.0,
                            color_map: Complex(Phase(Cyclic)),
                        ),
                    ),
                ),
            ),
            21: (
                template: PyNode((
                    name: "shepp_logan",
                    py_path: "test_nodes.foray.examples.shepp_logan",
                    config: Ok((
                        inputs: Ok({}),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({
                            "image_size": NumberField(256.0),
                        }),
                    )),
                )),
                parameters_values: {
                    "image_size": Float(256.0),
                },
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.0,
                            ceil: 1.0,
                            color_map: Complex(Mag(Color)),
                        ),
                    ),
                ),
            ),
            22: (
                template: PyNode((
                    name: "sleep",
                    py_path: "test_nodes.foray.examples.sleep",
                    config: Ok((
                        inputs: Ok({
                            "in": Array(Float, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Float, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.0,
                            ceil: 1.0,
                            color_map: Complex(Mag(Color)),
                        ),
                    ),
                ),
            ),
        },
        edges: [((
            node: 1,
            name: "out",
            io: Out,
        ), (
            node: 15,
            name: "a",
            io: In,
        )), ((
            node: 15,
            name: "out",
            io: Out,
        ), (
            node: 17,
            name: "a",
            io: In,
        )), ((
            node: 17,
            name: "out",
            io: Out,
        ), (
            node: 16,
            name: "in",
            io: In,
        )), ((
            node: 17,
            name: "out",
            io: Out,
        ), (
            node: 18,
            name: "in",
            io: In,
        )), ((
            node: 17,
            name: "out",
            io: Out,
        ), (
            node: 19,
            name: "in",
            io: In,
        )), ((
            node: 17,
            name: "out",
            io: Out,
        ), (
            node: 20,
            name: "in",
            io: In,
        )), ((
            node: 21,
            name: "out",
            io: Out,
        ), (
            node: 22,
            name: "in",
            io: In,
        )), ((
            node: 22,
            name: "out",
            io: Out,
        ), (
            node: 1,
            name: "a",
            io: In,
        ))],
        next_id: 23,
    ),
    shapes: (
        camera: (
            position: (
                x: -69.60057,
                y: 777.2509,
            ),
            zoom: 0.72402626,
        ),
        shape_positions: {
            21: (
                x: 8.866333,
                y: 330.1304,
            ),
            22: (
                x: 129.45988,
                y: 421.70877,
            ),
            1: (
                x: 54.6813,
                y: 498.74847,
            ),
            15: (
                x: 104.034744,
                y: 583.119,
            ),
            17: (
                x: 44.24874,
                y: 666.1154,
            ),
            19: (
                x: -186.85849,
                y: 1062.582,
            ),
            20: (
                x: 237.58424,
                y: 1054.7124,
            ),
            18: (
                x: 243.89775,
                y: 779.8396,
            ),
            16: (
                x: -192.42273,
                y: 785.2645,
            ),
        },
    ),
)