(
    graph: (
        nodes: {
            0: (
                template: PyNode((
                    name: "ifft",
                    py_path: "test_nodes.foray.ifft",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Complex, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
            ),
            1: (
                template: PyNode((
                    name: "ifft",
                    py_path: "test_nodes.foray.ifft",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Complex, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
            ),
            2: (
                template: PyNode((
                    name: "circle_mask",
                    py_path: "test_nodes.foray.circle_mask",
                    config: Ok((
                        inputs: Ok({}),
                        outputs: Ok({
                            "out": Array(Float, [None, None]),
                        }),
                        parameters: Ok({
                            "radius": Slider(0.0, 6.0, 0.5),
                        }),
                    )),
                )),
                parameters_values: {
                    "radius": Float(3.07),
                },
            ),
        },
        edges: [],
        next_id: 3,
    ),
    shapes: (
        camera: (
            position: (
                x: 5.9800415,
                y: -57.041412,
            ),
            zoom: 1.0,
        ),
        shape_positions: {
            2: (
                x: 81.02814,
                y: 184.45311,
            ),
            1: (
                x: 103.578125,
                y: 367.65,
            ),
            0: (
                x: 380.91565,
                y: 232.6688,
            ),
        },
    ),
)