(
    graph: (
        nodes: {
            0: (
                template: PyNode((
                    name: "3d_test",
                    py_path: "test_nodes.foray.examples.3d_test",
                    config: Ok((
                        inputs: Ok({}),
                        outputs: Ok({
                            "out": Array(Float, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 4), (X, 5), (Slice(0), 2)],
                        value_mapping: (0.0, 1.0),
                        complex_map: MagnitudeGray,
                    ),
                ),
            ),
            1: (
                template: RustNode(Display),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 4), (X, 5), (Slice(0), 2)],
                        value_mapping: (0.0, 1.0),
                        complex_map: MagnitudeGray,
                    ),
                ),
            ),
            2: (
                template: PyNode((
                    name: "coulomb",
                    py_path: "test_nodes.foray.examples.coulomb",
                    config: Ok((
                        inputs: Ok({}),
                        outputs: Ok({
                            "out": Array(Float, [None, None]),
                        }),
                        parameters: Ok({
                            "length": Slider(0.1, 10.0, 1.0),
                            "size": NumberField(4.0),
                        }),
                    )),
                )),
                parameters_values: {
                    "length": Float(9.08),
                    "size": Float(20.0),
                },
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 20), (X, 20), (Slice(0), 10)],
                        value_mapping: (0.0, 1.0),
                        complex_map: MagnitudeGray,
                    ),
                ),
            ),
            3: (
                template: RustNode(Display),
                parameters_values: {},
                visualization: (
                    parameters: (
                        ndim_mapping: [(Y, 20), (X, 20), (Slice(5), 10)],
                        value_mapping: (0.0, 1.0),
                        complex_map: MagnitudeLinear,
                    ),
                ),
            ),
        },
        edges: [((
            node: 0,
            name: "out",
            io: Out,
        ), (
            node: 1,
            name: "in",
            io: In,
        )), ((
            node: 2,
            name: "out",
            io: Out,
        ), (
            node: 3,
            name: "in",
            io: In,
        ))],
        next_id: 4,
    ),
    shapes: (
        camera: (
            position: (
                x: -8.4670105,
                y: 1.0502319,
            ),
            zoom: 1.0,
        ),
        shape_positions: {
            3: (
                x: 188.49179,
                y: -12.102356,
            ),
            2: (
                x: 210.19138,
                y: -202.04904,
            ),
            1: (
                x: -160.19583,
                y: -38.751892,
            ),
            0: (
                x: -43.16162,
                y: -262.66306,
            ),
        },
    ),
)